.services-wrapper {
  display: grid;
  position: relative;
  text-align: left;
  font-size: larger;
  grid-auto-columns: 1fr;
}

.odd {
  background-color: #e9f8fc;
}

.even {
  background-color: #bce9f6;
}

.service-name {
  grid-column: 1/ span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-role {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-contact {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}
