.services-search-bar-wrapper {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  width: 75%;
}

.services-title {
  grid-row: 2 / span 1;
  grid-column: 4 / span 4;
  font-size: 3em;
  font-weight: bold;
  color: #F74356;
  text-shadow: 4px 4px 4px #000000;
  text-align: center;
  padding-top: 5px;
}

.services-other-modules-wrapper {
  grid-row: 2 / span 3;
  grid-column: 9 / span 2;
  font-size: larger;
}

.services {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.services-header {
  display: grid;
  position: relative;
  text-align: left;
  font-size: x-large;
  font-weight: 500;
  color: #f2f2f2;
  background-color: #616161;
  grid-auto-columns: 1fr;
}

.service-header-name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-header-title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-header-role {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.service-header-contact {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.services-buttons {
  width: 200px;
  margin-left: 5%;
  margin-top: 10px;
  display: grid;
}

.button-font-size {
  font-size: smaller;
}

.custom-service-button {
  color: #f2f2f2;
  background-color: #4682b4;

  font-size: 20px;
  font-family: Arial;
  font-weight: bold;

  border-radius: 1px;
  border-size: 0px;
  box-shadow: 10px 0px 14px -7px;

  padding: 10px;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.custom-service-button:hover:enabled {
  color: #f2f2f2;
  background-color: #2b506e;
}

.delete-button {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.add-button {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.last-updated-services{
  margin-left: 5%;
  margin-top: 10px;
  color: #616161;
}

.services-header-menu {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 50px);
}

