.app-sa .services-wrapper {
  display: grid;
  position: relative;
  text-align: left;
  font-size: larger;
  grid-auto-columns: 1fr;
}

.app-sa .odd {
  background-color: #e9f8fc;
}

.app-sa .even {
  background-color: #bce9f6;
}

.app-sa .service-rowNr {
  text-align: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-name {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-title {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-role {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-subUnit {
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-contact {
  grid-column: 7 / span 2;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-actions {
  grid-column: 9 / span 2;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .edit-delete-button {
  color: #f2f2f2;
  background-color: #4682b4;

  font-size: 20px;
  font-family: Arial;
  font-weight: bold;

  border-radius: 1px;
  border-size: 0px;
  box-shadow: 10px 0px 14px -7px;

  padding: 10px;
  margin: 5px;
  width: 100px;
  text-align: center;
}

.app-sa .edit-delete-button:hover:enabled {
  color: #f2f2f2;
  background-color: #2b506e;
}
