.app-sa .services-search-bar-wrapper {
  margin-left: 5px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
  width: 75%;
}

.app-sa .filter-activated {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  width: 75%;
  font-size: 1.5em;
  font-weight: bold;
  color: #f74356;
  text-shadow: 2px 2px 2px #000000;
  text-align: left;
  margin-left: 5px;
}

.app-sa .service-header-rowNr {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-name {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-title {
  grid-column: 7 / span 3;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-role {
  grid-column: 10 / span 3;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-subUnit {
  grid-column: 13 / span 3;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-contact {
  grid-column: 16 / span 3;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .service-header-actions {
  grid-column: 19 / span 3;
  grid-row: 1 / span 1;
  font-size: x-large;
}

.app-sa .services-buttons {
  margin-right: 5px;
  width: 400px;
  margin-top: 10px;
  display: grid;
}

.app-sa .button-font-size {
  font-size: smaller;
}

.app-sa .custom-service-button {
  color: #f2f2f2;
  background-color: #4682b4;

  font-size: 20px;
  font-family: Arial;
  font-weight: bold;

  border-radius: 1px;
  border-size: 0px;
  box-shadow: 10px 0px 14px -7px;

  padding: 10px;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.app-sa .custom-service-button:hover:enabled {
  color: #f2f2f2;
  background-color: #2b506e;
}

.app-sa .delete-button {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.app-sa .add-button {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.app-sa .transfer-button {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.app-sa .last-updated-services {
  margin-left: 5px;
  margin-top: 10px;
  color: #616161;
}
