.DS_Store
node/
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/target/
/.mvn/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml

# Custom dev settings
maven.config
.gitconfig
mvnw
mvnw.cmd
.mvn/
