.vehicle-management-container {
  display: grid;
  grid-template-columns: 25% 75%;
}
.vehicle-list {
  grid-column: 1 / span 1;
  max-height: 450px;
  overflow: scroll;
  min-height: 180px;
}

.add-vehicle-form {
  grid-column: 2 / span 1;
}
