.resource-wrapper {
  display: inline-grid;
  background-color: #83A0E9;
  margin: 4px;
  position: relative;
}

.resource-name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  font-size: x-large;
  margin: 4px;
}

.resource-plate-number {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.resource-head-of-crew {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  background-color: antiquewhite;
}

.resource-identification-number {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: x-large;
  margin: 4px;
}

.resource-element-container {
  margin: 0px;
}

.resource-plate-number-summary {
  background-color: #29a2d6;
  font-size: smaller;
}

.resource-container {
  position: absolute;
  left: -70px;
  top: 15px;
  z-index: 1000;
}

