.dialogContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
    width: 100%;
    height: 100%;
}

.dialog {
    display: block;
}

.add-resource-dialog {
  max-width: 734px;
}
