.principal {
  width: 100%;
  position: relative;
}
.units-container {
  display: inline-grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  background-color: #bae1f2;
  padding: 10px;
  grid-gap: 50px;
  width: 100%;
}

.unit-wrapper {

}

.button-hidden{
  visibility: hidden;
}

.button-visible{
  visibility: visible;
}



