.principal {
  width: 100%;
  position: relative;
}

.unit-buttons-container {
  display: inline-grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  background-color: #f2f2f2;
  padding: 10px;
  grid-gap: 5px;
  width: 100%;
}

.unit-header-wrapper {
  display: inline-grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  background-color: #f2f2f2;
  padding: 10px;
  grid-gap: 5px;
  width: 100%;
  grid-row: 1 / span 1;
}

.unit-wrapper-wrapper {
  display: inline-grid;
  grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
  background-color: #f2f2f2;
  padding: 0 10px 10px 10px;
  grid-gap: 5px;
  width: 100%;
  grid-row: 2 / span 1;
  max-height: -moz-calc(100vh - 500px);
  max-height: -webkit-calc(100vh - 500px);
  max-height: -o-calc(100vh - 500px);
  max-height: calc(100vh - 500px);
  overflow: scroll;
  min-height: 180px;
}

.tab{
  background-color: #f2f2f2;
  border-right : 1px solid;
}

.tab-text{
  color: #616161 !important;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;

}

.unit-wrapper, .unit-buttons-wrapper{

}

.button-hidden{
  visibility: hidden;
}

.button-visible{
  visibility: visible;
}



