.location-list {
  font-size: x-large;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.location-item {
  padding-left: 10px;
}

.half-opacity {
   opacity: 0.5;
}

.points-of-interest-container {
  padding-left: 50px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
