.main-wrapper {
/*  background: linear-gradient(to bottom, #597FDF 0%, #597FDF 41.8%, #83A0E9 42.2%,#83A0E9 50%, #83A0E9 100%); /* W3C */
  background: linear-gradient(#eaf6fb, #29a2d6,#1d7296)
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 30vh;
}

.menu-link {
  color: #186181;
  background-color: #bae1f2;

  font-size: 20px;
  font: Arial;
  font-weight: bold;

  border-radius: 8px;
  border-size: 0px;
  box-shadow: 10px 0px 14px -7px;

  padding: 10px;
  margin: 5px;
  width: 30%;
}

.menu-link:hover {
  color: #eaf6fb;
  background-color: #186181;
}

#headline {
  margin-bottom: 50px;
  font-size: 3em;
  font: Arial;
  font-weight: bold;
  color: #F74356;
  text-shadow: 4px 4px 4px #000000;
}
