.unit-header {
  font-size: x-large;
  font-weight: 800;
  font: Arial;
  color: #bae1f2;
  background: #186181;
  text-align:center;
  max-height: 36px;
}

.button-font-size {
  font-size:smaller;
}

.custom-button {
  color: #bae1f2;
  background-color: #186181;

  font-size: 20px;
  font: Arial;
  font-weight: bold;

  border-radius: 8px;
  border-size: 0px;
  box-shadow: 10px 0px 14px -7px;

  padding: 10px;
  margin: 5px;
  width: 100%;
}

.custom-button:hover:enabled {
  color: #186181;
  background-color: #eaf6fb;
}

.unit-locked {
  background: repeating-linear-gradient(
    45deg,
    #bae1f2,
    #bae1f2 10px,
    #FFFFFF 10px,
    #FFFFFF 20px
  );
}

.unit-buttons {
  min-height: 100%;
}

