.unit-header {
  font-size: x-large;
  font-weight: 800;
  font-family: Arial;
  color: #f2f2f2;
  background: #616161;
  text-align:center;
  max-height: 36px;
}

.button-font-size {
  font-size:smaller;
}

.unit-locked {
  background: repeating-linear-gradient(
    45deg,
    #f2f2f2,
    #f2f2f2 10px,
    #FFFFFF 10px,
    #FFFFFF 20px
  );
}

.unit-buttons {
  min-height: 100%;
}

