.dialogContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
    width: 100%;
    height: 100%;
}

.dialog {
    display: block;
}

.confirmation-dialog {
  max-width: 796px;
}

.custom-close-button {
 width: 5%;
 justify-content: right;
 background-color: #186181;
 color: #cde9f5;
 padding: 5px;
 font-size: medium
}

.modal-body {
 text-align:center;
}

.modal-content {
  background: #cde9f5;
}

.modal-footer {
 justify-content: center;
}

.custom-dialog-button {
 width: 20%;
}
