body {
  height: 100vh;
  background: #d2f0f9;
}

.app-sa {
  height: 100%;
}

.custom-close-button {
  width: 30px;
  justify-content: right;
  background-color: #F74356;
  color: #f2f2f2;
  padding: 5px;
  font-size: medium
}

.custom-close-button:hover:enabled {
  color: #f2f2f2;
  background-color: #930614;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 30vh;
}

.modal-title {
  color: #616161;
  font-weight: bold;
}

.modal-content {
  background: #d2f0f9;
}

.dialog {
  display: block;
}

.form-label {
  color: #4682b4;
  font-weight: bold;
}


